<h1 class="is-size-1">Update Recipe</h1>
<h2 class="is-size-2 has-text-danger"><%="recipe name #{@error}" if @error%></h2>
<form action="/recipes/<%=@recipe.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <div class="field">
    <label class="label">Recipe Name:</label>
    <div class="control">
      <input class="input" type="text" name="name" value="<%=@recipe.name%>">
    </div>
  </div>
  
  <div class="field">
    <label class="label">Cooking Time:</label>
    <div class="control">
      <input class="input" type="text" name="cook_time" value="<%=@recipe.cook_time%>">
    </div>
  </div>
  <div class="field">
    <label class="label">Ingredients:</label>
    <div class="control">
      <input class="input" type="text" name="ingredients" value="<%=@recipe.ingredients%>">
    </div>
    
    
    <div class="field">
      <label class="label">Tags:</label>
      <div class="control">
	<input class="input" type="text" name="tags" value="<%=@recipe.tags%>">
      </div>
    </div>
    

    <div class="field">
      <label class="label">Link to Recipe:</label>
      <div class="control">
	<input class="input" type="text" name="link" value="<%=@recipe.link%>">
      </div>
    </div>



    <input type="submit" value="Update Recipe" class="button is-link is-light">
</form>
