<h1>Update Recipe</h1>
<h2>Edits for <%= @recipe.name%></h2>

<form action="/recipes/<%=@recipe.id%>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label>Recipe Name:</label>
    <input type="text" name="name" value="<%=@recipe.name%>">
    <br>
    
    <label>Cooking Time:</label>
    <input type="text" name="cook_time" value="<%=@recipe.cook_time%>">
    <br>
    
    <label>Ingredients:</label>
    <input type="text" name="ingredients" value="<%=@recipe.ingredients%>">
    <br>

    <label>Tags:</label>
    <input type="text" name="tags" value="<%=@recipe.tags%>">
    <br>

    <label>Link to Recipe:</label>
    <input type="text" name="link" value="<%=@recipe.link%>">
    <br>

    <label>Background Color</label><br>
    <input type="radio" name="color" id="red" value="red" <%='checked' if @recipe.color == 'red'%>>Red</input><br>
    <input type="radio" name="color" id="orange" value="orange" <%='checked' if @recipe.color == 'orange'%>>Orange</input><br>
    <input type="radio" name="color" id="yellow" value="yellow" <%='checked' if @recipe.color == 'yellow'%>>Yellow</input><br>
    <input type="radio" name="color" id="green" value="green" <%='checked' if @recipe.color == 'green'%>>Green</input><br>
    <input type="radio" name="color" id="blue" value="blue" <%='checked' if @recipe.color == 'blue'%>>Blue</input><br>
    <input type="radio" name="color" id="indigo" value="indigo" <%='checked' if @recipe.color == 'indigo'%>>Indigo</input><br>
    <input type="radio" name="color" id="violet" value="violet" <%='checked' if @recipe.color == 'violet'%>>Violet</input><bbr>
    <br>

    <input type="submit" value="Update Recipe" class="yellow-button">
</form>
