<h1><%=@recipe.name%></h1>
<p>Cooking Time: <%=@recipe.cook_time%></p>
<p>Ingredients: <%=@recipe.ingredients%></p>
<p>Tags: <%=@recipe.tags%></p>
<p>Link to Recipe: <a href="<%=@recipe.link%>" target="_blank"><%=@recipe.link%></a></p>
<p><a href="/recipes/<%=@recipe.id%>/edit">Edit Recipe</a></p>
<form method="POST" action="/recipes/<%=@recipe.id%>">
    <input type="submit" value="Delete Recipe">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
</form>